[defaults]
inventory = ./inventory
host_key_checking = False

gathering = smart
gather_subset = min
fact_caching = memory
fact_caching_timeout = 86400

retry_files_enabled = True
retry_files_save_path = ./retry
log_path = ./ansible.log

roles_path = ./roles

callbacks_enabled = profile_tasks
stdout_callback = yaml

timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
control_path = /tmp/ansible-%%h-%%p-%%r
pipelining = True
